In [49]:
import numpy as np
import pandas as pd
from sklearn.cluster import DBSCAN
from math import isclose

np.random.seed(42)

pd.set_option("display.precision", 2)


def convert_pt_to_oneOverR(pt):

    return 0.3 * 3.811 / (100 * pt)


def convert_oneOverR_to_pt(oneOverR):

    return 0.3 * 3.811 / (100 * oneOverR)


def run_normal_dbscan(z0, pt, eps):
    dfb = pd.DataFrame({"z0": z0, "pt": pt})
    db = DBSCAN(eps=eps, min_samples=2).fit(dfb["z0"].values.reshape(-1, 1))
    dfb["label"] = db.labels_

    dfb.loc[dfb.label == -1, "pt"] = 0

    clusters = dfb.groupby("label").agg({"z0": [np.median], "pt": [np.sum]})
    clusters.columns = ["z0", "pt_sum"]

    clusters = clusters.sort_values(by="pt_sum", ascending=False)

    z0_pv = clusters.iloc[0]["z0"]
    pt_pv = clusters.iloc[0]["pt_sum"]

    return z0_pv, pt_pv, clusters


if __name__ == "__main__":

    max_number_of_tracks = 232
    max_number_of_tracks_power_2 = 256
    max_number_of_tracks_log_2 = 8
    batch_size = 50

    eps = 0.15
    verbose = False
    save_intermediate = False
    from batched_dbscan import BatchedDBSCAN

    z0_pvs = []
    z0_batched = []
    z0_batched_skl = []
    pt_pvs = []
    pt_batched = []
    pt_batched_skl = []
    file_i = 5

    store = "/home/kirby/data/binaries-trk-100/"
    z0_file = store + f"b-{file_i}-trk-z0.bin"
    pt_file = store + f"b-{file_i}-trk-pt.bin"
    z0 = np.fromfile(z0_file, dtype=np.float32)
    pt = np.fromfile(pt_file, dtype=np.float32)

    z0_pv, pt_pv, clusters = run_normal_dbscan(z0, pt, eps)

    db = BatchedDBSCAN(
        z0, pt, eps, batch_size, max_number_of_tracks, verbose, save_intermediate
    )

    db.fit()

    db_skl = BatchedDBSCAN(
        z0, pt, eps, batch_size, max_number_of_tracks, verbose, save_intermediate
    )

    db_skl.fitsklearn()

    z0_pvs.append(z0_pv)
    z0_batched.append(db.z0_pv)
    z0_batched_skl.append(db_skl.z0_pv_skl)
    pt_pvs.append(pt_pv)
    pt_batched.append(db.max_pt)
    pt_batched_skl.append(db_skl.max_pt)

    r = pd.DataFrame(
        {
            "z0_normal": z0_pvs,
            "z0_batched": z0_batched,
            "z0_batched_skl": z0_batched_skl,
            "pt_normal": pt_pvs,
            "pt_batched": pt_batched,
            "pt_batched_skl": pt_batched_skl,
        }
    )
    print(r)
    d = pd.DataFrame({})


    d['z0_diff'] = 100 * (r['z0_batched'] - r['z0_normal']) / r['z0_normal']
    d['pt_diff'] = 100 * (r['pt_batched'] - r['pt_normal']) / r['pt_normal']
    pd.set_option('display.max_columns', None)
    print(d)
    print(clusters)

    # print(d.describe())
    # print(
    #     f"file {i}: {db.z0_pv} ({db_skl.z0_pv_skl}), {db.max_pt} ({db_skl.max_pt})"
    # )
    # print(db.boundaries_batches[0])
    # print(db.z0_pv, db.max_pt)

    # import json
    # with open('merged_list.json', 'w') as f:
    #     json.dump(db.merged_list, f, indent=4)

   z0_normal  z0_batched  z0_batched_skl  pt_normal  pt_batched  \
0      -0.41       -0.41           -0.41      335.9       335.9

   pt_batched_skl
0           335.9
   z0_diff   pt_diff
0     -0.0  3.41e-06
          z0  pt_sum
label
 1     -0.41  335.90
 5      6.91  120.78
 0      1.41   63.80
 16    -8.20   40.12
 8     -1.93   32.93
 10     2.29   28.89
 7     -9.90   25.42
 4     -8.79   20.87
 6      3.28   20.66
 13     5.39   18.50
 14    -3.43    9.88
 2      7.79    9.88
 15     0.44    9.32
 18    13.18    9.00
 12     4.95    6.35
 9      8.61    5.42
 11    -1.41    5.24
 3    -10.25    4.46
 17    -4.22    4.06
-1     -3.02    0.00

In [17]:
r

,z0_normal,z0_batched,z0_batched_skl,pt_normal,pt_batched,pt_batched_skl
0,-0.41,-0.41,-0.41,335.9,335.9,335.9

In [20]:
db.boundaries_batches[0].shape

(50, 7)

In [22]:
b0 = pd.DataFrame(db.boundaries_batches[0], columns = ['idx', 'pts','nextPts','rSum','z0_low','z0_high','noise'])
b0.drop(columns=['rSum'],inplace=True)

In [30]:
b0['idx'] = b0['idx'].astype(int)

In [32]:
b0

    idx     pts  nextPts  z0_low  z0_high  noise
0     0    0.00     2.01  -11.78   -11.78    1.0
1     1    2.01     4.04  -10.25   -10.25    1.0
2     2    4.04     6.19   -9.49    -9.49    1.0
3     3    6.19     9.71   -9.02    -9.02    1.0
4     4    9.71    11.89   -8.73    -8.73    0.0
5     5   11.89    14.33   -8.73    -4.51    0.0
6     6   14.33    21.98   -4.51    -4.51    1.0
7     7   21.98    35.98   -1.93    -1.93    1.0
8     8   35.98    38.15   -1.11    -1.11    1.0
9     9   38.15    47.21   -0.88    -0.76    0.0
10   15   70.75    72.73   -0.64    -0.41    0.0
11   16   72.73    75.31   -0.41    -0.35    0.0
12   25  112.18   123.30   -0.12     0.23    0.0
13   26  123.30   126.19    0.23     0.23    0.0
14   27  126.19   129.09    0.23     1.11    0.0
15   28  129.09   131.40    1.11     1.11    1.0
16   29  131.40   133.77    1.76     1.76    0.0
17   31  136.33   138.88    1.88     2.17    0.0
18   32  138.88   141.06    2.17     2.17    1.0
19   33  141.06   143.07    2.46     2.46    1.0
20   34  143.07   146.06    3.11     3.11    1.0
21   35  146.06   148.12    3.46     3.46    1.0
22   36  148.12   150.49    3.63     3.63    1.0
23   37  150.49   153.49    6.27     6.39    0.0
24   40  159.62   162.77    6.45     6.91    0.0
25   41  162.77   165.00    6.91     6.97    0.0
26   45  176.22   178.30    7.09     7.50    0.0
27   46  178.30   180.30    7.50     7.50    1.0
28   47  180.30   183.09    7.68     7.79    0.0
29   48  183.09   185.20    7.79     8.55    0.0
30   49  185.20   187.72    8.55     8.55    1.0
31   50    0.00     0.00   21.00    21.00    0.0
32   50    0.00     0.00   21.00    21.00    0.0
33   50    0.00     0.00   21.00    21.00    0.0
34   50    0.00     0.00   21.00    21.00    0.0
35   50    0.00     0.00   21.00    21.00    0.0
36   50    0.00     0.00   21.00    21.00    0.0
37   50    0.00     0.00   21.00    21.00    0.0
38   50    0.00     0.00   21.00    21.00    0.0
39   50    0.00     0.00   21.00    21.00    0.0
40   50    0.00     0.00   21.00    21.00    0.0
41   50    0.00     0.00   21.00    21.00    0.0
42   50    0.00     0.00   21.00    21.00    0.0
43   50    0.00     0.00   21.00    21.00    0.0
44   50    0.00     0.00   21.00    21.00    0.0
45   50    0.00     0.00   21.00    21.00    0.0
46   50    0.00     0.00   21.00    21.00    0.0
47   50    0.00     0.00   21.00    21.00    0.0
48   50    0.00     0.00   21.00    21.00    0.0
49   50    0.00     0.00   21.00    21.00    0.0

In [26]:
bc0 = pd.read_csv('boundaries-0.txt', sep=', ', names = ['idx','pts','nextPts','z0_low','z0_high','noise'])

/tmp/ipykernel_184011/3277223271.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  bc0 = pd.read_csv('boundaries-0.txt', sep=', ', names = ['idx','pts','nextPts','z0_low','z0_high','noise'])

In [27]:
bc0

    idx     pts  nextPts  z0_low  z0_high  noise
0     0    0.00     2.01  -11.78   -11.78      1
1     1    2.01     4.04  -10.25   -10.25      1
2     2    4.04     6.19   -9.49    -9.49      1
3     3    6.19     9.71   -9.02    -9.02      1
4     4    9.71    11.89   -8.73    -8.73      0
5     5   11.89    14.33   -8.73    -4.51      0
6     6   14.33    21.98   -4.51    -4.51      1
7     7   21.98    35.98   -1.93    -1.93      1
8     8   35.98    38.15   -1.11    -1.11      1
9     9   38.15    47.21   -0.88    -0.76      0
10   15   70.75    72.73   -0.64    -0.41      0
11   16   72.73    75.31   -0.41    -0.35      0
12   25  121.10   123.30   -0.12     0.23      0
13   26  123.30   126.19    0.23     0.23      0
14   27  126.19   129.09    0.23     1.11      0
15   28  129.09   131.41    1.11     1.11      1
16   29  131.41   133.77    1.76     1.76      0
17   31  136.33   138.88    1.88     2.17      0
18   32  138.88   141.06    2.17     2.17      1
19   33  141.06   143.07    2.46     2.46      1
20   34  143.07   146.06    3.11     3.11      1
21   35  146.06   148.12    3.46     3.46      1
22   36  148.12   150.49    3.63     3.63      1
23   37  150.49   153.49    6.27     6.39      0
24   40  159.62   162.77    6.45     6.91      0
25   41  162.77   165.00    6.91     6.97      0
26   45  176.22   178.30    7.09     7.50      0
27   46  178.30   180.30    7.50     7.50      1
28   47  180.30   183.09    7.68     7.79      0
29   48  183.09   185.20    7.79     8.55      0
30   49  185.20   187.72    8.55     8.55      1
31   50    0.00     0.00   21.00    21.00      0
32   50    0.00     0.00   21.00    21.00      0
33   50    0.00     0.00   21.00    21.00      0
34   50    0.00     0.00   21.00    21.00      0
35   50    0.00     0.00   21.00    21.00      0
36   50    0.00     0.00   21.00    21.00      0
37   50    0.00     0.00   21.00    21.00      0
38   50    0.00     0.00   21.00    21.00      0
39   50    0.00     0.00   21.00    21.00      0
40   50    0.00     0.00   21.00    21.00      0
41   50    0.00     0.00   21.00    21.00      0
42   50    0.00     0.00   21.00    21.00      0
43   50    0.00     0.00   21.00    21.00      0
44   50    0.00     0.00   21.00    21.00      0
45   50    0.00     0.00   21.00    21.00      0
46   50    0.00     0.00   21.00    21.00      0
47   50    0.00     0.00   21.00    21.00      0
48   50    0.00     0.00   21.00    21.00      0
49   50    0.00     0.00   21.00    21.00      0

In [55]:
def compare_boundaries(b_t, b_c):
    columns = ['idx','pts','nextPts','z0_low','z0_high','noise']

    for col in columns:
        for i in range(b_t.shape[0]):
            a = b_t[col].iloc[i]
            b = b_c[col].iloc[i]
            if not isclose(a, b, rel_tol=1e-5):
                print(f'column {col} at index {i} is different')
                print(f'batched: {b_t[col].iloc[i]}')
                print(f'c++: {b_c[col].iloc[i]}')
                print()

In [56]:
compare_boundaries(b0, bc0)

column pts at index 12 is different
batched: 112.18462491035461
c++: 121.097

In [60]:
for i in range(5):
    print(f"--------------- batch number {i} ----------------")
    b_t = pd.DataFrame(db.boundaries_batches[i], columns = ['idx', 'pts','nextPts','rSum','z0_low','z0_high','noise'])
    b_t.drop(columns=['rSum'],inplace=True)
    b_c = pd.read_csv(f'boundaries-{i}.txt', sep=', ', names = ['idx','pts','nextPts','z0_low','z0_high','noise'], engine ='python')
    compare_boundaries(b_t, b_c)

--------------- batch number 0 ----------------
column pts at index 12 is different
batched: 112.18462491035461
c++: 121.097

--------------- batch number 1 ----------------
column pts at index 36 is different
batched: 148.79408431053162
c++: 148.228

--------------- batch number 2 ----------------
column pts at index 15 is different
batched: 157.4594920873642
c++: 157.782

column nextPts at index 12 is different
batched: 76.43546712398529
c++: 74.0892

--------------- batch number 3 ----------------
column nextPts at index 15 is different
batched: 41.96143102645874
c++: 42.7401

--------------- batch number 4 ----------------
column idx at index 10 is different
batched: 12.0
c++: 28

column idx at index 11 is different
batched: 13.0
c++: 29

column idx at index 12 is different
batched: 14.0
c++: 30

column idx at index 13 is different
batched: 15.0
c++: 31

column idx at index 14 is different
batched: 16.0
c++: 32

column idx at index 15 is different
batched: 17.0
c++: 33

column idx at index 16 is different
batched: 18.0
c++: 34

column idx at index 17 is different
batched: 19.0
c++: 35

column idx at index 18 is different
batched: 20.0
c++: 36

column idx at index 19 is different
batched: 21.0
c++: 37

column idx at index 20 is different
batched: 22.0
c++: 38

column idx at index 21 is different
batched: 23.0
c++: 39

column idx at index 22 is different
batched: 24.0
c++: 40

column idx at index 23 is different
batched: 25.0
c++: 41

column idx at index 24 is different
batched: 26.0
c++: 42

column idx at index 25 is different
batched: 27.0
c++: 43

column idx at index 26 is different
batched: 49.0
c++: 44

column idx at index 27 is different
batched: 50.0
c++: 45

column idx at index 28 is different
batched: 50.0
c++: 49

column pts at index 10 is different
batched: 35.327972412109375
c++: 32.9425

column pts at index 11 is different
batched: 38.945438861846924
c++: 32.9425

column pts at index 12 is different
batched: 42.4598433971405
c++: 35.328

column pts at index 13 is different
batched: 45.06901025772095
c++: 38.9454

column pts at index 14 is different
batched: 47.67695116996765
c++: 42.4598

column pts at index 15 is different
batched: 50.547911643981934
c++: 45.069

column pts at index 16 is different
batched: 53.100096702575684
c++: 47.677

column pts at index 17 is different
batched: 56.2012152671814
c++: 50.5479

column pts at index 18 is different
batched: 58.63960862159729
c++: 53.1001

column pts at index 19 is different
batched: 62.41451668739319
c++: 56.2012

column pts at index 20 is different
batched: 65.31018829345703
c++: 59.9761

column pts at index 21 is different
batched: 70.59937572479248
c++: 62.4145

column pts at index 22 is different
batched: 72.83497881889343
c++: 65.3102

column pts at index 23 is different
batched: 76.65141224861145
c++: 70.5994

column pts at index 24 is different
batched: 78.65647006034851
c++: 72.835

column pts at index 25 is different
batched: 80.6069278717041
c++: 74.84

column pts at index 26 is different
batched: 80.6069278717041
c++: 78.6565

column pts at index 27 is different
batched: 0.0
c++: 80.6069

column pts at index 28 is different
batched: 0.0
c++: 80.6069

column nextPts at index 9 is different
batched: 35.327972412109375
c++: 32.9425

column nextPts at index 10 is different
batched: 38.945438861846924
c++: 32.9425

column nextPts at index 11 is different
batched: 42.4598433971405
c++: 35.328

column nextPts at index 12 is different
batched: 45.06901025772095
c++: 38.9454

column nextPts at index 13 is different
batched: 47.67695116996765
c++: 42.4598

column nextPts at index 14 is different
batched: 50.547911643981934
c++: 45.069

column nextPts at index 15 is different
batched: 53.100096702575684
c++: 47.677

column nextPts at index 16 is different
batched: 56.2012152671814
c++: 50.5479

column nextPts at index 17 is different
batched: 58.63960862159729
c++: 53.1001

column nextPts at index 18 is different
batched: 62.41451668739319
c++: 56.2012

column nextPts at index 19 is different
batched: 65.31018829345703
c++: 59.9761

column nextPts at index 20 is different
batched: 70.59937572479248
c++: 62.4145

column nextPts at index 21 is different
batched: 72.83497881889343
c++: 65.3102

column nextPts at index 22 is different
batched: 76.65141224861145
c++: 70.5994

column nextPts at index 23 is different
batched: 78.65647006034851
c++: 72.835

column nextPts at index 24 is different
batched: 80.6069278717041
c++: 74.84

column nextPts at index 25 is different
batched: 80.6069278717041
c++: 78.6565

column nextPts at index 27 is different
batched: 0.0
c++: 80.6069

column nextPts at index 28 is different
batched: 0.0
c++: 80.6069

column z0_low at index 9 is different
batched: 0.41015625
c++: 0.0

column z0_low at index 10 is different
batched: 0.8203125
c++: 0.0

column z0_low at index 11 is different
batched: 1.0546875
c++: 0.410156

column z0_low at index 12 is different
batched: 1.34765625
c++: 0.820312

column z0_low at index 13 is different
batched: 1.40625
c++: 1.05469

column z0_low at index 14 is different
batched: 1.69921875
c++: 1.34766

column z0_low at index 15 is different
batched: 1.875
c++: 1.40625

column z0_low at index 16 is different
batched: 2.109375
c++: 1.69922

column z0_low at index 17 is different
batched: 2.40234375
c++: 1.875

column z0_low at index 18 is different
batched: 2.40234375
c++: 2.10938

column z0_low at index 19 is different
batched: 5.33203125
c++: 2.40234

column z0_low at index 20 is different
batched: 6.328125
c++: 2.40234

column z0_low at index 21 is different
batched: 6.38671875
c++: 5.33203

column z0_low at index 22 is different
batched: 7.5
c++: 6.32812

column z0_low at index 23 is different
batched: 7.5
c++: 6.38672

column z0_low at index 24 is different
batched: 13.125
c++: 7.5

column z0_low at index 25 is different
batched: 21.0
c++: 7.5

column z0_low at index 26 is different
batched: 21.0
c++: 13.125

column z0_high at index 8 is different
batched: 0.41015625
c++: 0.0

column z0_high at index 9 is different
batched: 0.41015625
c++: 0.0

column z0_high at index 10 is different
batched: 0.8203125
c++: 0.410156

column z0_high at index 11 is different
batched: 1.0546875
c++: 0.410156

column z0_high at index 12 is different
batched: 1.40625
c++: 0.820312

column z0_high at index 13 is different
batched: 1.69921875
c++: 1.05469

column z0_high at index 14 is different
batched: 1.69921875
c++: 1.40625

column z0_high at index 15 is different
batched: 1.875
c++: 1.69922

column z0_high at index 16 is different
batched: 2.109375
c++: 1.69922

column z0_high at index 17 is different
batched: 2.40234375
c++: 1.875

column z0_high at index 18 is different
batched: 5.33203125
c++: 2.10938

column z0_high at index 19 is different
batched: 5.33203125
c++: 2.40234

column z0_high at index 20 is different
batched: 6.38671875
c++: 5.33203

column z0_high at index 21 is different
batched: 7.5
c++: 5.33203

column z0_high at index 22 is different
batched: 7.5
c++: 6.38672

column z0_high at index 23 is different
batched: 13.125
c++: 7.5

column z0_high at index 24 is different
batched: 13.125
c++: 7.5

column z0_high at index 25 is different
batched: 21.0
c++: 13.125

column z0_high at index 26 is different
batched: 21.0
c++: 13.125

column noise at index 9 is different
batched: 1.0
c++: 0

column noise at index 10 is different
batched: 1.0
c++: 0

column noise at index 12 is different
batched: 0.0
c++: 1

column noise at index 13 is different
batched: 0.0
c++: 1

column noise at index 14 is different
batched: 1.0
c++: 0

column noise at index 15 is different
batched: 1.0
c++: 0

column noise at index 17 is different
batched: 0.0
c++: 1

column noise at index 18 is different
batched: 0.0
c++: 1

column noise at index 19 is different
batched: 1.0
c++: 0

column noise at index 21 is different
batched: 0.0
c++: 1

column noise at index 24 is different
batched: 1.0
c++: 0

column noise at index 26 is different
batched: 0.0
c++: 1

column noise at index 28 is different
batched: 0.0
c++: 1

In [61]:
b_c

    idx    pts  nextPts  z0_low  z0_high  noise
0     0   0.00     2.98   -9.96    -9.84      0
1     1   2.98     5.27   -9.84    -1.46      0
2     2   5.27     7.80   -1.46    -1.46      1
3     3   7.80     9.90   -1.00    -1.00      1
4     4   9.90    15.37   -0.70    -0.59      0
5     5  15.37    18.63   -0.59    -0.41      0
6     6  18.63    21.20   -0.41    -0.41      1
7     7  21.20    23.23   -0.23    -0.18      0
8    10  30.02    32.94   -0.18     0.00      0
9    11  32.94    32.94    0.00     0.00      0
10   28  32.94    32.94    0.00     0.41      0
11   29  32.94    35.33    0.41     0.41      1
12   30  35.33    38.95    0.82     0.82      1
13   31  38.95    42.46    1.05     1.05      1
14   32  42.46    45.07    1.35     1.41      0
15   33  45.07    47.68    1.41     1.70      0
16   34  47.68    50.55    1.70     1.70      1
17   35  50.55    53.10    1.88     1.88      1
18   36  53.10    56.20    2.11     2.11      1
19   37  56.20    59.98    2.40     2.40      0
20   38  59.98    62.41    2.40     5.33      0
21   39  62.41    65.31    5.33     5.33      1
22   40  65.31    70.60    6.33     6.39      0
23   41  70.60    72.83    6.39     7.50      0
24   42  72.83    74.84    7.50     7.50      0
25   43  74.84    78.66    7.50    13.12      0
26   44  78.66    80.61   13.12    13.12      1
27   45  80.61    80.61   21.00    21.00      0
28   49  80.61    80.61   21.00    21.00      1
29   50   0.00     0.00   21.00    21.00      0
30   50   0.00     0.00   21.00    21.00      0
31   50   0.00     0.00   21.00    21.00      0
32   50   0.00     0.00   21.00    21.00      0
33   50   0.00     0.00   21.00    21.00      0
34   50   0.00     0.00   21.00    21.00      0
35   50   0.00     0.00   21.00    21.00      0
36   50   0.00     0.00   21.00    21.00      0
37   50   0.00     0.00   21.00    21.00      0
38   50   0.00     0.00   21.00    21.00      0
39   50   0.00     0.00   21.00    21.00      0
40   50   0.00     0.00   21.00    21.00      0
41   50   0.00     0.00   21.00    21.00      0
42   50   0.00     0.00   21.00    21.00      0
43   50   0.00     0.00   21.00    21.00      0
44   50   0.00     0.00   21.00    21.00      0
45   50   0.00     0.00   21.00    21.00      0
46   50   0.00     0.00   21.00    21.00      0
47   50   0.00     0.00   21.00    21.00      0
48   50   0.00     0.00   21.00    21.00      0
49   50   0.00     0.00   21.00    21.00      0

In [62]:
b_t

     idx    pts  nextPts  z0_low  z0_high  noise
0    0.0   0.00     2.98   -9.96    -9.84    0.0
1    1.0   2.98     5.27   -9.84    -1.46    0.0
2    2.0   5.27     7.80   -1.46    -1.46    1.0
3    3.0   7.80     9.90   -1.00    -1.00    1.0
4    4.0   9.90    15.37   -0.70    -0.59    0.0
5    5.0  15.37    18.63   -0.59    -0.41    0.0
6    6.0  18.63    21.20   -0.41    -0.41    1.0
7    7.0  21.20    23.24   -0.23    -0.18    0.0
8   10.0  30.02    32.94   -0.18     0.41    0.0
9   11.0  32.94    35.33    0.41     0.41    1.0
10  12.0  35.33    38.95    0.82     0.82    1.0
11  13.0  38.95    42.46    1.05     1.05    1.0
12  14.0  42.46    45.07    1.35     1.41    0.0
13  15.0  45.07    47.68    1.41     1.70    0.0
14  16.0  47.68    50.55    1.70     1.70    1.0
15  17.0  50.55    53.10    1.88     1.88    1.0
16  18.0  53.10    56.20    2.11     2.11    1.0
17  19.0  56.20    58.64    2.40     2.40    0.0
18  20.0  58.64    62.41    2.40     5.33    0.0
19  21.0  62.41    65.31    5.33     5.33    1.0
20  22.0  65.31    70.60    6.33     6.39    0.0
21  23.0  70.60    72.83    6.39     7.50    0.0
22  24.0  72.83    76.65    7.50     7.50    0.0
23  25.0  76.65    78.66    7.50    13.12    0.0
24  26.0  78.66    80.61   13.12    13.12    1.0
25  27.0  80.61    80.61   21.00    21.00    0.0
26  49.0  80.61    80.61   21.00    21.00    0.0
27  50.0   0.00     0.00   21.00    21.00    0.0
28  50.0   0.00     0.00   21.00    21.00    0.0
29  50.0   0.00     0.00   21.00    21.00    0.0
30  50.0   0.00     0.00   21.00    21.00    0.0
31  50.0   0.00     0.00   21.00    21.00    0.0
32  50.0   0.00     0.00   21.00    21.00    0.0
33  50.0   0.00     0.00   21.00    21.00    0.0
34  50.0   0.00     0.00   21.00    21.00    0.0
35  50.0   0.00     0.00   21.00    21.00    0.0
36  50.0   0.00     0.00   21.00    21.00    0.0
37  50.0   0.00     0.00   21.00    21.00    0.0
38  50.0   0.00     0.00   21.00    21.00    0.0
39  50.0   0.00     0.00   21.00    21.00    0.0
40  50.0   0.00     0.00   21.00    21.00    0.0
41  50.0   0.00     0.00   21.00    21.00    0.0
42  50.0   0.00     0.00   21.00    21.00    0.0
43  50.0   0.00     0.00   21.00    21.00    0.0
44  50.0   0.00     0.00   21.00    21.00    0.0
45  50.0   0.00     0.00   21.00    21.00    0.0
46  50.0   0.00     0.00   21.00    21.00    0.0
47  50.0   0.00     0.00   21.00    21.00    0.0
48  50.0   0.00     0.00   21.00    21.00    0.0
49  50.0   0.00     0.00   21.00    21.00    0.0

In [36]:
(b0['z0_high'] == bc0['z0_high']).all()

False

In [48]:
for i in range(50): 
    a = b0.iloc[i]['z0_low']
    b = bc0.iloc[i]['z0_low']

    if not (isclose(a,b, rel_tol=1e-5)):
        print(i, (a-b))

In [31]:
b0.equals(bc0)

False

In [13]:
cpy = pd.DataFrame({})
for i in range(5):
    _df = pd.DataFrame(db.clusters_batches[i], columns =['pt_sum','z0_low','z0_high','noise'])
    cpy = pd.concat([cpy, _df])

In [15]:
cpy.sort_values(by='z0_low', ascending=True)

    pt_sum  z0_low  z0_high  noise
0     2.57   -7.44    -7.44    1.0
0     2.15   -7.44    -7.44    1.0
1     3.30   -6.97    -6.97    1.0
0     3.30   -6.56    -6.56    1.0
1     3.31   -6.50    -6.50    1.0
..     ...     ...      ...    ...
29    0.00   21.00    21.00    0.0
30    0.00   21.00    21.00    0.0
31    0.00   21.00    21.00    0.0
23    0.00   21.00    21.00    0.0
49    0.00   21.00    21.00    0.0

[250 rows x 4 columns]

In [8]:
ccpp =pd.read_csv("clusters-4.txt", sep=',', names=['z0_low','z0_high','pt_sum','noise'])

In [10]:
ccpp.sort_values(by='z0_low', ascending=True)

     z0_low  z0_high  pt_sum  noise
0    -11.78   -11.78    2.01      1
100  -10.78   -10.78    2.73      1
1    -10.25   -10.25    2.03      1
150  -10.25   -10.25    2.43      1
50    -9.96    -9.96    5.90      0
..      ...      ...     ...    ...
127   21.00    21.00    0.00      0
128   21.00    21.00    0.00      0
129   21.00    21.00    0.00      0
90    21.00    21.00    0.00      0
249   21.00    21.00    0.00      0

[250 rows x 4 columns]