In [3]:
import numpy as np
import math
import pandas as pd
import itertools
import copy
from sklearn.cluster import DBSCAN
from random import choice
np.random.seed(42)

# Constants and Data Loading

In [4]:
max_number_of_tracks = 232
max_number_of_tracks_power_2 = 256
max_number_of_tracks_log_2 = 8
batch_size = 50
eps = 0.15

z0_file = "/media/lucas/QS/binaries-trk/OldKF_TTbar_170K_quality-1-trk-z0.bin"
pt_file = "/media/lucas/QS/binaries-trk/OldKF_TTbar_170K_quality-1-trk-pt.bin"
z0 = np.fromfile(z0_file, dtype=np.float32)
pt = np.fromfile(pt_file, dtype=np.float32)

In [5]:
db = DBSCAN(eps=0.15, min_samples=2).fit(z0.reshape(-1,1))

In [6]:
label = db.labels_

In [7]:
results = pd.DataFrame({'z0':z0,'pt':pt,'label':label})

In [8]:
clusters = results.groupby(['label']).agg({'z0':[np.min, np.max], 'pt':[np.sum,'count']})
clusters.columns = ['z0_min','z0_max','pt_sum','ntracks']

In [15]:
clusters[clusters.index!=-1].sort_values(by='pt_sum',ascending=False)

         z0_min    z0_max      pt_sum  ntracks
label
0     -3.164062 -1.406250  142.023392       43
6     -3.808594 -3.398438  104.907082       16
4     -0.117188  0.410156   51.442478       20
3     -0.585938 -0.292969   17.673368        6
11     3.457031  3.632812   17.044699        4
1      2.812500  3.105469   14.746803        5
2     -4.218750 -4.042969   13.367491        5
15     0.878906  1.054688    9.260561        3
14     5.742188  5.859375    8.528573        3
8     -1.054688 -0.937500    8.141763        3
7     -5.625000 -5.507812    7.957811        2
19     2.460938  2.519531    7.425566        2
13     1.992188  2.109375    6.752706        2
5      3.867188  3.867188    6.423915        2
12     6.503906  6.621094    6.150181        3
9      1.289062  1.347656    5.256238        2
10    -4.921875 -4.921875    4.852124        2
16     0.585938  0.644531    4.706585        2
18     1.640625  1.699219    4.665102        2
17     5.273438  5.390625    4.282117        2

In [11]:
clusters.shape[0]

21